.login-header {
	text-align: center;
	padding: 10px 0 20px;

	h1, h2 {
		margin: 0;
		font-weight: 200;
	}
}

mat-card {
	width: 300px;

	mat-card-content {
		padding: 5px 10px;
		mat-form-field {
			width: 100%;
			// margin-bottom: 15px;

			&:first-of-type {
				// margin-bottom: 15px;
			}
		}
	}

	mat-card-footer {
		padding-bottom: 15px;
	}
}